@import "tailwindcss";

#root {
  font-family: "google sans code", sans-serif;
}

.instrument-serif-regular {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.instrument-serif-italic {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: italic;
}

.backgroundimage {
  background-image: url(https://framerusercontent.com/images/ClAOZsPbLm7Jq6KakmQIdVMCc.png?width=4000&height=3000);
  background-position: center;
  background-size: cover;
}
::-webkit-scrollbar {
  display: none;
}
